<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Uyirmeieluthu"></activity>
        <activity android:name=".Meieluthu" />
        <activity android:name=".Uyireluthu" />
        <activity
            android:name=".HighScore"
            android:parentActivityName=".SelectLesson" />
        <activity
            android:name=".record"
            android:parentActivityName=".LessonThree" />
        <activity
            android:name=".LessonThree"
            android:parentActivityName=".SelectionActivity" />
        <activity
            android:name=".TaskTwo"
            android:parentActivityName=".SelectTask" />
        <activity
            android:name=".SelectTask"
            android:parentActivityName=".SelectionActivity" />
        <activity android:name=".splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".months"
            android:parentActivityName=".LessonTwo" />
        <activity
            android:name=".days"
            android:parentActivityName=".LessonTwo" />
        <activity
            android:name=".fruits"
            android:parentActivityName=".LessonTwo" />
        <activity
            android:name=".colours"
            android:parentActivityName=".LessonTwo" />
        <activity
            android:name=".numbers"
            android:parentActivityName=".LessonTwo" />
        <activity
            android:name=".relation"
            android:parentActivityName=".LessonTwo" />
        <activity
            android:name=".LessonTwo"
            android:parentActivityName=".SelectionActivity" />
        <activity
            android:name=".SelectLesson"
            android:parentActivityName=".SelectionActivity" />
        <activity android:name=".WelcomeScreen" />
        <activity
            android:name=".TaskCheck"
            android:parentActivityName=".SelectTask" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".RegisterActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LessonOne"
            android:parentActivityName=".SelectLesson" />
        <activity
            android:name=".QuizActivity"
            android:parentActivityName=".SelectTask" />
        <activity
            android:name=".SelectionActivity"
            android:parentActivityName=".LoginActivity" />
    </application>

</manifest>